<!doctype html>

<html>
<head>
  <title>Interactive Classifier</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Classify Laporan Text</h1>
  <textarea id="laporantext" rows="6" cols="50"></textarea>
  <br>
  <input type="submit" id="subs" value="Submit">
  <div class="loader" id="loader"></div>
  <h4>Result</h4>
  <br>
  <textarea id="resp" rows="23" cols="50"></textarea>
</body>
</html>
